header {
  font-size: 80px;
  text-align: center;
  color: #fff;
  font-family: "Tangerine", cursive;
}

footer {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

body {
  background-image: url("images/world.jpg");
  background-size: cover;
  background-color: #cccccc;
  color: #332a1a;
  font-family: "Josefin Slab", serif;
}
