.Dictionary form {
  text-align: center;
}
.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.Dictionary button {
  font-size: 25px;
  background-color: #4e211f;
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
}

.Dictionary button:hover{
  background-color: #6e3c39;
}

.Dictionary button:active {
  box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
  /* Moving button 4px to y-axis */
}





.Dictionary section {
  background: #f7efd8;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #5a5049;
  border: 1px solid #ddd;
  width: 300px;
}
.Dictionary input:focus {
  outline: none !important;
  border-color: #b78763;
  box-shadow: 0 0 10px #b78763;
}

.Dictionary .hint {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
  color: rgb(19, 104, 19);
}

@media (max-width: 700px) {
  .Dictionary input {
    width: 200px;
  }
  .Dictionary h1 {
    font-size: 15px;
  }
  .Dictionary button {
    font-size: 15px;
  }
}
