.Dictionary form {
  text-align: center;
}
.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: #f7efd8;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #5a5049;
  border: 1px solid #ddd;
}
.Dictionary input:focus {
  outline: none !important;
  border-color: #b78763;
  box-shadow: 0 0 10px #b78763;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
